<h1>Nuevo Taller</h1>
<form action="/create" method="post">
  <fieldset>
    <label for="name">Nombre: </label><br>
    <input type="text" name="name" value="name" id="name">
  </fieldset>
  <fieldset>
    <label for="description">Descripcion: </label><br>
    <textarea name="description" id="description" rows="5" cols="20"></textarea>
  </fieldset>
  <fieldset>
    <input type="submit">
  </fieldset>
</form>