<h1>Editar taller de <%= @name %></h1>

<form action="/<%= @name %>" method="post">
  <input type="hidden" name="_method" value="put">
  <fieldset>
    <label for="description">Descripcion: </label><br>
    <textarea name="description" rows="5" cols="20" value="<%= @description %>" id="description"><%= @description %></textarea>
  </fieldset>
  <input type="submit" name="delete" value="Editar taller">
</form>